{% extends 'base.html.twig' %}

{% block title %}Hôtel {{ hotel.name }}{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('hotel', {'slug': hotel.slug}) }}">{{ hotel.name }}</a>
    </h1>
    <p>Description: {{ hotel.description }}</p>
    <p>Adresse complete: {{ hotel.address }}</p>
    <p>Ville: {{ hotel.city }}</p>

    <p><a href="{{ path('booking_new', { 'hotel_id': hotel.id }) }}" class="btn btn-primary" role="button">Réserver dans cet hôtel</a></p>

    {% for suite in hotel.suites %}
        {% if suite.featuredImage is defined and suite.featuredImage %}
            <img src="{{ asset('/uploads/' ~ suite.featuredImage.name) }}" alt="" width="150">
        {% endif %}

        <h2>{{ suite.title }}</h2>
        <p>{{ suite.description }}</p>
        <p>{{ suite.priceInEuros }} €</p>
        <p><a href="{{ suite.bookingLink }}" target="_blank" class="btn btn-primary" role="button">Voir sur Booking.com</a></p>

        {% if suite.images|length() > 0 %}
            {% for image in suite.images %}
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="" width="150">
            {% endfor %}
        {% endif %}

        <p><a href="{{ path('booking_new', { 'suite_id': suite.id }) }}" class="btn btn-primary" role="button">Réserver cette suite</a></p>
    {% endfor %}
{% endblock %}
