{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="custom-banner py-md-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Hypnos</h1>
                <p class="lead fw-normal mb-0">Une expérience romantique inoubliable</p>
            </div>
        </div>
    </div>

    {% for hotel in hotels %}
        <div class="custom-hotel-list">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('hotel', {'slug': hotel.slug}) }}">{{ hotel.name }}</a>
                    </h5>
                    <p class="card-text">{{ hotel.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ hotel.address }}</li>
                    <li class="list-group-item">{{ hotel.city }}</li>
                    <li class="list-group-item">
                        <a href="{{ path('booking_new', { 'hotel_id': hotel.id }) }}" class="btn btn-primary" role="button">Réserver dans cet hôtel</a>
                    </li>
                </ul>
            </div>
        </div>

    {% endfor %}
{% endblock %}
