{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre réservation{% endblock %}

{% block body %}
    <h1>Merci de votre réservation !</h1>

    <p>Vous avez réservé une suite <strong>{{ booking.suite }}</strong> à l'hôtel <strong>{{ booking.hotel }}</strong>, du {{ booking.beginAt|date('d/m/Y') }} au {{ booking.endAt|date('d/m/Y') }}</p>

    <p><a href="{{ path('bookings') }}" class="btn btn-primary" role="button">Voir mes réservations</a></p>
{% endblock %}
