{% extends 'base.html.twig' %}

{% block title %}Edition de l'hôtel {{ hotel.name }}{% endblock %}

{% block body %}
    <h1>Edition de l'hôtel {{ hotel.name }}</h1>

    {{ include('backend/hotel/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('backend_hotel_index') }}">Retour à la liste</a>

    {{ include('backend/hotel/_delete_form.html.twig') }}
{% endblock %}
