{% extends 'backend/base.html.twig' %}

{% block title %}Edition de l'établissement {{ hotel.name }}{% endblock %}

{% block body %}
    <h1>Edition de l'établissement {{ hotel.name }}</h1>

    <p>{{ include('backend/hotel/_form.html.twig', {'button_label': 'Mettre à jour'}) }}</p>

    <p>{{ include('backend/hotel/_delete_form.html.twig') }}</p>

    <p><a href="{{ path('backend_hotels') }}" class="btn btn-primary" role="button">Retour à la liste</a></p>
{% endblock %}
