{% extends 'backend/base.html.twig' %}

{% block title %}Liste des hôtels{% endblock %}

{% block body %}
    <h1>Liste des hôtels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.slug }}</td>
                <td>{{ hotel.address }}</td>
                <td>
                    <a href="{{ path('backend_hotel_show', {'id': hotel.id}) }}">Afficher</a>
                    <a href="{{ path('backend_hotel_edit', {'id': hotel.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun hôtel trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_hotel_new') }}">Créer un nouvel hôtel</a>
{% endblock %}
