{% extends 'backend/base.html.twig' %}

{% block title %}établissement {{ hotel.name }}{% endblock %}

{% block body %}
    <h1>établissement {{ hotel.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ hotel.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ hotel.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ hotel.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hotel.description }}</td>
            </tr>
            <tr>
                <th>URL raccourcie</th>
                <td>{{ hotel.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_hotel_index') }}">Retour à la liste</a>

    <a href="{{ path('backend_hotel_edit', {'id': hotel.id}) }}">Editer</a>

    {{ include('backend/hotel/_delete_form.html.twig') }}
{% endblock %}
