{% extends 'base.html.twig' %}

{% block title %}Edition de la suite {{ suite.title }}{% endblock %}

{% block body %}
    <h1>Edition de la suite {{ suite.title }}</h1>

    {{ include('backend/suite/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('backend_suite_index') }}">Retour à la liste</a>

    {{ include('backend/suite/_delete_form.html.twig') }}
{% endblock %}
