{% extends 'backend/base.html.twig' %}

{% block title %}Edition de la réservation #{{ booking.id }}{% endblock %}

{% block body %}
    <h1>Edition de la réservation #{{ booking.id }}</h1>

    <p>{{ include('backend/booking/_form.html.twig', {'button_label': 'Mettre à jour'}) }}</p>

    <p>{{ include('backend/booking/_delete_form.html.twig') }}</p>

    <p><a href="{{ path('backend_bookings') }}" class="btn btn-secondary" role="button">Retour à la liste</a></p>
{% endblock %}
