<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouvelle demande de contact sur le site</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Une nouvelle demande de contact a été faite sur le site :</p>

    <ul>
        <li>Prénom : {{ firstname }}</li>
        <li>Nom : {{ lastname }}</li>
        <li>Adresse email : {{ email }}</li>
        <li>Sujet : {{ subject }}</li>
        <li>Message : {{ message }}</li>
    </ul>
</body>
</html>
